*{
  margin: 0;
  padding: 0;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  
}

h2{
  font-size: 24px;
  font-family: tahoma;
  text-align: center;
  line-height: 45px;
}

span{
  color: yellowgreen;
}